
.pn-icon-place:before { content: '\e801'; } /* '' */
.pn-icon-transition:before { content: '\e802'; } /* '' */
.pn-icon-add-token:before { content: '\e805'; } /* '' */
.pn-icon-remove-token:before { content: '\e806'; } /* '' */
.pn-icon-fire-transition:before { content: '\e807'; } /* '' */
