[class^="pn-icon-"],
[class*=" pn-icon-"] {
  font-family: "pn";
  font-style: normal;
  font-weight: normal;

  /* fix buttons height */
  line-height: 1em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}

.pn-icon-place {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe801;&nbsp;"
  );
}
.pn-icon-transition {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe802;&nbsp;"
  );
}
.pn-icon-add-token {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe805;&nbsp;"
  );
}
.pn-icon-remove-token {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe806;&nbsp;"
  );
}
.pn-icon-fire-transition {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe807;&nbsp;"
  );
}
.pn-icon-unfire-transition {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe808;&nbsp;"
  );
}
.pn-icon-reset {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe809;&nbsp;"
  );
}
.pn-icon-toggle-off {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe810;&nbsp;"
  );
}
.pn-icon-toggle-on {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe811;&nbsp;"
  );
}
