@import "diagram-js/assets/diagram-js.css";
@import "bpmn-font/dist/css/bpmn.css";
@import url("./icons/css/pn.css");

/* Overwriting diagram-js classes */
.djs-context-pad .entry.active {
  color: var(--popup-header-entry-selected-color);
  border: solid 1px var(--popup-header-entry-selected-color);
  background-color: var(--popup-header-entry-selected-background-color);
  font-size: 20px;
}

.djs-palette .separator {
  background-color: transparent;
  opacity: 1;
}

.ptn-toggle-mode {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--token-simulation-silver-darken-94, #efefef);
  border-radius: 2px;
  padding: 6px;
  font-size: 16px;
  color: var(--token-simulation-grey-darken-30, #212121);
  user-select: none;
  display: inline-flex;
}

.ptn-toggle-mode .ptn-toggle {
  margin-left: 0.25em;
  display: inline-flex;
}

.djs-container.simulation .ptn-toggle-mode,
.ptn-toggle-mode:hover {
  background-color: var(--token-simulation-green-base-44, #10d070);
  color: var(--token-simulation-white, #ffffff);
}

.djs-container.simulation .djs-bendpoint,
.djs-container.simulation .djs-outline,
.djs-container.simulation .djs-palette,
.djs-container.simulation .djs-resizer,
.djs-container.simulation .djs-segment-dragger {
  display: none !important;
}

.djs-container.simulation
  .djs-overlay:not(
    .djs-overlay-bts-context-menu,
    .djs-overlay-bts-element-notification,
    .djs-overlay-bts-token-count
  ) {
  display: none !important;
}

.djs-container .djs-palette {
  top: 60px !important;
}

.bts-palette {
  position: absolute;
  top: 60px;
  left: 20px;
}

.bts-palette.hidden {
  display: none;
}

.bts-palette .bts-entry {
  cursor: pointer;
  background-color: var(--token-simulation-silver-darken-94, #efefef);
  border-radius: 2px;
  padding: 6px 0;
  margin-bottom: 6px;
  font-size: 16px;
  color: var(--token-simulation-grey-darken-30, #212121);
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  box-sizing: border-box;
  transition: all 0.1s ease;
}

.bts-palette .bts-entry:last-child {
  margin-bottom: 0;
}

.bts-palette .bts-entry:not(.disabled):hover {
  color: var(--token-simulation-white, #ffffff);
  background-color: var(--token-simulation-green-base-44, #10d070);
}

.bts-palette .bts-entry.active {
  color: var(--token-simulation-white, #ffffff);
  background-color: var(--token-simulation-green-base-44, #10d070);
}

.bts-palette .bts-entry.disabled {
  pointer-events: none;
  color: var(--token-simulation-grey-base-40, #666666);
}
